/****** Object:  StoredProcedure [ICMPCM].[DEL_ALL_FAC_DAT]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ICMPCM].[DEL_ALL_FAC_DAT]
(

@I_TAB_NAM VARCHAR(50)
)
AS
BEGIN
DECLARE @SQL VARCHAR(500)
SET @SQL = 'TRUNCATE TABLE '+@I_TAB_NAM
EXECUTE(@SQL)

END
GO
/****** Object:  StoredProcedure [ICMPCM].[DEL_FAC_DAT]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ICMPCM].[DEL_FAC_DAT]
(

@I_TAB_NAM VARCHAR(50)
)
AS
BEGIN
DECLARE @SQL VARCHAR(500)
SET @SQL = 'TRUNCATE TABLE ICMPAM.'+@I_TAB_NAM
EXECUTE(@SQL)

END
GO
/****** Object:  StoredProcedure [ICMPCM].[DEL_OLM_DATA_PR]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [ICMPCM].[DEL_OLM_DATA_PR]
AS
BEGIN



	Delete from ICMPSS.S_RCA

	Delete from ICMPSS.S_RCA_ACT

	Delete from ICMPSS.S_LSS_EVT

	Delete from ICMPSS.S_CST_TYP


	Delete from ICMPSS.S_LSS_EVT_CLF

	Delete from ICMPSS.S_RCA_ACT_ANS

	Delete from ICMPSS.S_LSS_EVT_ANS

	Delete from ICMPSS.S_LSS_EVT_CST


	Delete from ICMPSS.S_LSS_TYP_MST


	--DELETE  FROM ICMPCM.D_LSS_TYP_MST

	--------------------TRUNCATE FACT TABLE 

	Delete from ICMPOM.F_LSS_EVT_CST

	Delete from ICMPOM.F_LSS_EVT_ANS

	Delete from ICMPOM.F_LSS_EVT_CLF

	Delete from ICMPCM.F_RCA_ACT_ANS

	Delete from ICMPOM.F_OEE_ANS

END
GO



/****** Object:  StoredProcedure [ICMPCM].[DEL_STG_DATA]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ICMPCM].[DEL_STG_DATA]
(
@I_TET_COD VARCHAR(50),
@I_STE_COD VARCHAR(50),
@STG_TAB_NAM VARCHAR(50),
@I_DW_TAB_NAM VARCHAR(50)
)

AS
BEGIN

DECLARE @SQL VARCHAR(1000)
DECLARE @SQL1 VARCHAR(500)
DECLARE @WHERE_SQL VARCHAR(500)

SET @SQL ='TRUNCATE TABLE '+@STG_TAB_NAM

EXECUTE (@SQL)

--SET @WHERE_SQL = ' TET_COD'''+ ISNULL(@I_TET_COD,'')+' AND STE_COD='''+ISNULL(@I_STE_COD,''+''''

SET @SQL1 ='DELETE FROM '+@I_DW_TAB_NAM+' WHERE  TET_COD ='''+@I_TET_COD+''' AND STE_COD='''+@I_STE_COD+''''

--PRINT(@SQL1)
EXECUTE(@SQL1)


END
GO
/****** Object:  StoredProcedure [ICMPCM].[REMOVE_DUPLICATE]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ICMPCM].[REMOVE_DUPLICATE]
(
@I_SCHEMA_NAME VARCHAR(50),
@I_TABLE_NAME VARCHAR(50)
)
AS
BEGIN

DECLARE @COL_LIST NVARCHAR(MAX)
DECLARE @SQL_STMT NVARCHAR(MAX)

SELECT @COL_LIST = string_AGG(COLUMN_NAME,',' ) FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=@I_TABLE_NAME AND TABLE_SCHEMA =@I_SCHEMA_NAME;


SET @SQL_STMT ='WITH CTE AS (SELECT ROW_NUMBER() OVER( PARTITION BY '+ @COL_LIST +  ' ORDER  BY '+ @COL_LIST +')RN,* FROM '+@I_SCHEMA_NAME+'.'+@I_TABLE_NAME+') DELETE FROM CTE WHERE RN>1'

exec(@SQL_STMT)
END
GO
/****** Object:  StoredProcedure [ICMPCM].[REMOVE_UNIQUE_DUPLICATE]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ICMPCM].[REMOVE_UNIQUE_DUPLICATE]  
(  
@I_TGT_SCHEMA_NAME VARCHAR(50),  
@I_TGT_TABLE_NAME VARCHAR(50)  ,
@I_SCE_SCHEMA_NAME VARCHAR(50),
@I_SCE_TBL_NAME VARCHAR(50)




)  
AS  
BEGIN  
  
DECLARE @COL_LIST NVARCHAR(MAX)  
DECLARE @SQL_STMT NVARCHAR(MAX)  
  
--SELECT @COL_LIST = --string_AGG(COLUMN_NAME,',' ) FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME=@I_TABLE_NAME AND TABLE_SCHEMA =@I_SCHEMA_NAME;

SELECT @COL_LIST = string_AGG(B.COLUMN_NAME,',' )FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS A, INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE B 
            WHERE CONSTRAINT_TYPE = 'UNIQUE' AND A.CONSTRAINT_NAME = B.CONSTRAINT_NAME  AND A.TABLE_SCHEMA=@I_TGT_SCHEMA_NAME AND A.TABLE_NAME=@I_TGT_TABLE_NAME


  
  
SET @SQL_STMT ='WITH CTE AS (SELECT ROW_NUMBER() OVER( PARTITION BY '+ @COL_LIST +  ' ORDER  BY '+ @COL_LIST +')RN,* FROM '+@I_SCE_SCHEMA_NAME+'.'+@I_SCE_TBL_NAME+') DELETE FROM CTE WHERE RN>1'  
  
exec(@SQL_STMT)  
END  
GO
/****** Object:  StoredProcedure [ICMPCM].[UPD_D_LSS_TYP_MST]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ICMPCM].[UPD_D_LSS_TYP_MST]
AS
BEGIN

UPDATE D_LSS_TYP_MST2 SET  D_LSS_TYP_MST2.PNT_LSS_TYP_ID=D_LSS_TYP_MST1.LSS_TYP_ID
--,D_LSS_TYP_MST2.LSS_TYP_COD,D_LSS_TYP_MST1.PNT_LSS_TYP_ID, ICMPSS.S_LSS_TYP_MST.PNT_LSS_TYP_COD,D_LSS_TYP_MST1.LSS_TYP_ID 
FROM ICMPSS.S_LSS_TYP_MST,ICMPCM.D_LSS_TYP_MST  D_LSS_TYP_MST1,ICMPCM.D_LSS_TYP_MST  D_LSS_TYP_MST2
WHERE ICMPSS.S_LSS_TYP_MST.PNT_LSS_TYP_COD = D_LSS_TYP_MST1.LSS_TYP_COD
AND ICMPSS.S_LSS_TYP_MST.TET_COD = D_LSS_TYP_MST1.TET_COD
AND ICMPSS.S_LSS_TYP_MST.STE_COD = D_LSS_TYP_MST1.STE_COD
AND ICMPSS.S_LSS_TYP_MST.LSS_TYP_COD = D_LSS_TYP_MST2.LSS_TYP_COD
AND ICMPSS.S_LSS_TYP_MST.TET_COD = D_LSS_TYP_MST2.TET_COD
AND ICMPSS.S_LSS_TYP_MST.STE_COD = D_LSS_TYP_MST2.STE_COD


UPDATE ICMPCM.D_LSS_TYP_MST SET PNT_LSS_TYP_ID = NULL WHERE PNT_LSS_TYP_ID=LSS_TYP_ID



END
GO
/****** Object:  StoredProcedure [ICMPCM].[UPD_S_LSS_TYP_MST]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ICMPCM].[UPD_S_LSS_TYP_MST]
AS
BEGIN

UPDATE ICMPSS.S_LSS_TYP_MST SET ICMPSS.S_LSS_TYP_MST.PNT_LSS_TYP_COD=ICMVOL.R_LSS_TYP.LSS_TYP_COD 
FROM ICMPSS.S_LSS_TYP_MST ,ICMVOL.R_LSS_TYP
WHERE ICMPSS.S_LSS_TYP_MST.PNT_LSS_TYP_COD = ICMVOL.R_LSS_TYP.LSS_TYP_ID


END
GO
/****** Object:  StoredProcedure [ICMPCM].[UPD_STG_DATA]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ICMPCM].[UPD_STG_DATA]
(
@I_TET_COD VARCHAR(50),
@I_STE_COD VARCHAR(50),
@I_LGG_COD VARCHAR(10),
@I_SCE_SYS_COD VARCHAR(50),
@I_TAB_NAM VARCHAR(50)
)

AS

BEGIN

DECLARE @SQL VARCHAR(1000)

SET @SQL ='UPDATE '+@I_TAB_NAM +' SET TET_COD ='''+@I_TET_COD+''', STE_COD = '''+@I_STE_COD +''',LGG_COD='''+@I_LGG_COD+''', SCE_SYS_COD = '''+@I_SCE_SYS_COD+''''
EXECUTE (@SQL)

END
GO
/****** Object:  StoredProcedure [ICMPSS].[X_PDT_RCP_MAL_EFC_TO]    Script Date: 7/9/2020 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ICMPSS].[X_PDT_RCP_MAL_EFC_TO]
AS

WITH CTE AS(
SELECT   *,DENSE_RANK() OVER(PARTITION BY PDT_ID,MAL_ID ORDER BY PDT_ID,MAL_ID,EFC_FRM )RN
FROM ICMPCM.X_PDT_RCP_MAL
--where PDT_ID =1782 and MAL_ID=1789
)
UPDATE B SET EFC_TO =ISNULL((SELECT DISTINCT DATEADD(DAY,-1,EFC_FRM)FROM CTE A WHERE A.PDT_ID = B.PDT_ID AND A.MAL_ID = B.MAL_ID AND A.RN= B.RN+1 ),'2099-12-31')
, EFC_FRM=ISNULL(EFC_FRM,'1900-01-01')
FROM CTE B

GO
